.MiniNews2Flex {
    margin: 2rem;
    position: relative;
    padding: 0.7rem;
    width: 17rem;
    height: 12rem;
    box-shadow: 0 15px 15px 0 var(--darker), 0 15px 15px 0 var(--darker);
    border: 1px solid var(--darker);
    font-size: 0.2rem;
    border-radius: 1rem;
    text-align: left;
}

.Mini2FlexSource {
    color: white;
    font-weight: 700;
    position: absolute;
    bottom: -0.5em;
    left: 0em;
    height: 2em;
    transform: skew(-20deg);
    width: fit-content;
    padding: 1em;
    font-size: 3.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
}

/* .Mini2FlexWrapper{
    position: absolute;
    top: 30rem;
} */

.Title2FlexWrapper {
    position: absolute;
    color: white;
    font-weight: 700;
    bottom: -6em;
    width: 100%;
    font-size: 5em;
}

.Title2FlexWrapper:hover {
    text-decoration: underline;
    text-decoration-color: orangered;
    cursor: pointer;
}

.Mini2FLexAuthorDate {
    width: 100%;
    position: absolute;
    bottom: -10em;
    font-weight: 500;
    font-size: 4em;
    display: flex;
    justify-content: flex-start;
}