.Footer {
    background-color: #16181c;
    background-image: linear-gradient(135deg, #4aeadd77 0%, #9778d177 20%, #cf2ab977 40%, #ee2c838e 60%, #fb6a628f 80%, #fef84c9f 100%);
    border-top: 2px solid black;
    width: 100%;
    height: 15rem;
    position: relative;
}

.Footer h4 {
    color: white;
    width: 15%;
    font-weight: 700;
    font-size: 1.2rem;
    position: absolute;
    top: 29%;
    left: 5%;
    text-shadow: 1px 1px #16181c;
}

.FooterCategoriesWrapper {
    position: absolute;
    top: 20%;
    left: 21.5%;
    width: 70rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-shadow: 1px 1px #16181c;
}

.Footer h3 {
    color: white;
    width: 15%;
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow: 1px 1px #16181c;
}

.Footer h5 {
    color: gray;
    width: 15%;
    font-weight: 700;
    font-size: 1rem;
    text-shadow: 1px 1px #16181c;
}

.Footer a {
    text-decoration: none;
    color: gray;
    width: 15%;
    font-weight: 700;
    font-size: 1rem;
    text-shadow: 1px 1px #16181c;
}

.Footer h5:hover {
    text-decoration: underline;
    text-decoration-color: orangered;
    cursor: pointer;
}

.Footer a:hover {
    text-decoration: underline;
    text-decoration-color: orangered;
    cursor: pointer;
}

.FooterSocialWrapper {
    position: absolute;
    top: 20%;
    left: 60.5%;
    width: 70rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-shadow: 1px 1px #16181c;
}