.App {
  text-align: center;
}

.NewsTileWrapper1 {
  width: 100vw;
  height: 38rem;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  position: relative;
  left: 12%;
}

.MiniNewsWrapper1 {
  position: relative;
  left: 7.5%;
  display: flex;
  align-items: center;
}

.Header {
  position: absolute;
  left: 12%;
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Lean {
  width: 0.25rem;
  height: 2rem;
  background-color: orange;
  transform: skew(-20deg);
}

.HeaderTitle {
  color: white;
  font-size: 1.3rem;
  font-weight: 900;
}

.EditorsPick {
  height: 57rem;
  /* border: 1px solid red; */
  position: relative;
}

.EditorsPickFlexNews {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.EditorsPickFlexAlign {
  position: absolute;
  top: 33em;
  left: 10.2em;
}